* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.transparent-hide {
    /* position: relative; */
    z-index: 1000;
    margin-bottom: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #FFEE58;
    padding: 0 20px;
   position:fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav img {
    width: 150px;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-top: 15px;
    font-weight: 600;

}

nav ul li {
    margin: 0 15px;
    position: relative;
    text-transform: uppercase;
}

nav ul li:before {
    position: absolute;
    content: "";
    background: black;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn, label #cancel {
    cursor: pointer;
    font-size: 30px;
    display: none;
}

label {
    display: none;
}

#check {
    display: none;
}

@media (max-width: 860px) {
    nav {
        position: fixed;
    }

    label {
        display: block;
        cursor: pointer;
    }

    label #btn {
        display: block;
    }

    nav ul {
        position: fixed;
        flex-direction: column;
        height: 100vh;
        background: #FFEE58;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        gap: 0px;
        width: 74%;
        margin-top: 0px;
    }

    nav ul li {
        margin: 50px 0;
        font-size: 17px;
        margin-bottom: 0;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}

.link-style {
    color: black;
    text-decoration: none;
}

.button-sec {
    display: flex;
    justify-content: center;
}

.button-style {
    margin-left: 15px;
}

.cart-count {
    color: brown;
    font-size: 16px;
}





/* .title-colour {
    background-color:hsl(199, 92%, 74%) ;
    height: 57px;
    width:100.8%;
}

.home-menu {
    background-color:#FFEE58 ;
    font-size: large;
    font-weight: 600;
    padding-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px;
    z-index: 100;
    width:100.8%;
    height: 67px;
    

}

.list{
    list-style:none;
}
.link-style{
    color:black;
    text-decoration:none;
}

.button-sec{
    display:flex;
    justify-content: center;
}

.logo-home{
    width: 167px;
    height: 47px;
    padding-bottom: 15px;
    margin-right: 85%;
}

@media (max-width:767px){
    .list{
        gap:15px;
      
    }
}

.cart-count{
    color:brown;
    font-size: 16px;
   
}

nav ul li {
    position: relative;
    width: max-content;
    
}

nav ul li:before{
    content: ""; 
    position:absolute;
    background:black;
    left: 0;
    bottom: 20px; 
    height: 3px;
    border-radius: 5px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .40s;
}

nav ul li:hover:before{

    transform: scaleX(1);
    transform-origin: left;
}

label #btn, label #cancel{
    float: right;
    font-size: 30px;
    cursor: pointer;  
    line-height: 50px;
     
} */